body {
    background: #CCCCCC
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}
html{
		background: black;
	}

 #topo{

 	color: white;
 	text-align: center;
    font-size-adjust: 2;
    background: gray;

 }

 #menu{ color: whitesmoke;
text-align: left;

font-size-adjust: 1;

  }

html{
		background: black;
	



#formulário{ color: white;
	font-size-adjust: 1;

 }
